<div class="navbar navbar-inverse">
    <div class="navbar-header">
      <div class="container">
        <a href="" class="navbar-brand">Fitness and Health</a>
       <ul class="nav navbar-nav navbar-right">
      <%= render "header_interface" %>
       </ul>
      </div>
    </div>
</div>